<h2>If you need to create confidentiality agreement or NDA, without the need for expensive human lawyers, NILA can help…</h2>
<p>
  <input type="text" placeholder="Agreement Date" [(ngModel)]="agreementDate"/><br/>
  <input type="text" placeholder="Employer" [(ngModel)]="employer"/><br/>
  <input type="text" placeholder="Employer Province" [(ngModel)]="employerProvince"/><br/>
  <input type="text" placeholder="Employer Location" [(ngModel)]="employerLocation"/><br/>
  <input type="text" placeholder="Employee Name" [(ngModel)]="employee"/><br/>
  <input type="text" placeholder="Position" [(ngModel)]="position"/><br/>
  <input type="text" placeholder="Job Type" [(ngModel)]="jobType"/><br/>
  <input type="text" placeholder="Salary" [(ngModel)]="salary"/><br/>
  <input type="text" placeholder="Confidentiality Required" [(ngModel)]="confRequired"/><br/>
  <input type="text" placeholder="vacation" [(ngModel)]="vacation"/><br/>
  <input type="text" placeholder="Probation Required" [(ngModel)]="probRequired"/><br/>
  <input type="text" placeholder="Probation Period" [(ngModel)]="porobationPeriod"/><br/>
  <input type="text" placeholder="Notice Period" [(ngModel)]="noticePeriod"/><br/>
  <input type="text" placeholder="Severence" [(ngModel)]="severence"/><br/>
  <br/>
  <input type="submit" class="btn" [value]="btnText" (click)="generate()">
</p>
